html, body {
	height: 100%;
}

body {
	margin: 0px;
	padding: 0px;
	background: #171717;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 12pt;
	font-weight: 300;
	color: #363636;
	width: 100%;
	float: center;
}


p, ol, ul {
	margin-top: 0px;
}

p {
	line-height: 190%;
}


a {
	color: #171717;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

	ul.style2
	{
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	ul.style2 li
	{
		border-top: solid 1px #E5E5E5;
		padding: 0.80em 0;
	}
	
	ul.style2 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}
	


/******************************************************/
/* WRAPPER                                               */
/****************************************************/

#wrapper {
	background: #FFFFFF url(images/bg01.png) repeat;
	width: 100%;
	float: center;
	min-height: 900px;
	height: 100%;
}



/***********************************************************************/
/* Header                                                                        */
/***********************************************************************/

	#header 
	{
		position: relative;
		overflow: hidden;
		height: 450px;
		width: 450px;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	}
	
	#logo
	{
		text-align: center;
		position: relative;
		top: 0px;
	}	

/** MENU */


/**
#menu {
	overflow: hidden;
	margin-bottom: 2em;
	background: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
	height: 100px;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menu li {
	display: inline-block;
}

#menu a {
	display: block;
	letter-spacing: 1px;
	line-height: 100px;
	padding: 0 40px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-size: 0.80em;
	font-weight: 600;
	border: none;
	color: #3D3D3D;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #F5F5F5;
}

#menu .current_page_item a {
	background: #F5F5F5;
}

**/

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		text-align: center;
		text-transform: uppercase;
		color: #6F6F6F;
		background: black;
		width: 100%;
		height: 10px;
		position: relative;
		top: -30px;
		padding: 1.5em 0em;
		
	}
	
	#footer img
	{
	position: absolute;
	left: 475px;
	bottom: 40px;
	}
	
	#footer .byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 0.90em;
		color: #6F6F6F;
	}


/**********************************************************************************/
/* Content                                                                                    */
/*********************************************************************************/

	#content 
	{
	height: 98%
	}
	
	#nblogo
	{
	position: relative;
	left: 2px;
	top: 2px;
	}
	
	#content h2
	{
		letter-spacing: 0.20em;
		text-transform: uppercase;
		font-size: 2.6em;
		text-align: center;
	}
	
	#content p
	{
		font-size: 1.3em;
		text-align: center;
	}

	#content .byline
	{
		display: block;
		padding: 0em 0em 1.5em 0em;
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 1.2em;
		color: #6F6F6F;
		text-align: center;
	}

	
	